body {
    background-color: black;
}

.teclas {
    width: 40px;
    height: 40px;
    row-gap: 10px;
}

.container {
    background-color: rgba(0, 0, 0, 0.895);
    color: white;
    height: 260px;
    border-radius: 10px;
}

.resultado{
    height: 25%;
    border: transparent solid 10px;
}